<div class="page-header">
	<i class="fa fa-bullhorn fa-2x" style="color: red"></i>
	<span>현재 접속자 인원 :</span>
	<span id="info-messages"></span>
	<span>명</span>
	<p>Signed in as @<%= cookies.signed[:username] %>.</p>
</div>

<div class="row">
	<div class="col-xs-6">
		<div class="chatting_space">
			<div class="outside" id="messages">
			</div>

			<div class="form-group">
				<textarea class="form-control" rows="5" id="chat-speak"></textarea>
			</div>
		</div>
	</div>

	<div class="col-xs-9">
		<div class="chatting_info">
			<h3>user info</h3>
			<div id="chatting-info-items"></div>
		</div>
	</div>

</div>

