@import "font-awesome";
@import "bootstrap";
@import "messages";

/*
 *= require font-awesome
 */
 
.footer {
	position:relative;
	bottom: 0px;
}

.gamespace{
	position:relative;
	background-color: #5ec75e;
	height: 450px;
}

.user_info{
	position:relative;
	border: 2px solid blue;
    border-radius: 5px;
	height: 450px;       
}

.chatting_space
{ 
	height: 450px;
}

.outside
{
    position: relative;
    overflow-y: scroll;
    height: 390px;
}


/* in game space*/

.myside
{
 height: 140px;
 width: 580px;
 bottom: 50px;
 border: 2px solid red;
 border-radius: 5px;
}

.player1
{
	
}

.player2
{
	
}

.player3
{
	
}

.player4
{
	
}

.deck
{
	
}

.dummy
{
	
}
