@import "font-awesome";
@import "bootstrap";
@import "messages";

/*
 *= require font-awesome
 */
 
.footer {
	position:relative;
	bottom: 0px;
}

.gamespace{
	position:relative;
	background-color: red;
	height: 450px;
}

.user_info{
	position:relative;
	background-color:blue;
	height: 450px;       
}

.chatting_space
{ 
	background-color:black;
	height: 450px;
}

.outside
{
    position: relative;
    overflow-y: scroll;
    height: 390px;
}
